.main{border:none}
.banner_bj{height:482px;background:url("../images/download_banner.jpg") no-repeat center 0;margin-top:73px;}
.banner_bj .banner{background:transparent;border:none}
.banner_bj .banner .pic{width:590px;padding-top:30px;height:452px;position:relative;float:left;}
.banner_bj .banner .pic img{margin-left:50px}
.banner_bj .banner .pic ul{position:absolute;bottom:12px;left:42px;}
.banner_bj .banner .pic ul a{height:10px;width:10px;border-radius: 50%;margin-right:8px;display:inline-block;background:#fff;}
.banner_bj .banner .edition{float:right;width:386px;padding-top:195px;}
.banner_bj .banner .edition ul a{float:right;display:inline-block;line-height:40px;padding:0 14px;background:#5f6779;font-size:14px;
                                color:#fff;margin:0 0 14px 18px;width:142px;}
.banner_bj .banner .edition ul a i{display:inline-block;vertical-align:middle;height:26px;width:26px;
                                    background:url("../images/download_edition.png") no-repeat -58px -108px;}
.banner_bj .banner .edition ul a span{font-size:12px;color:#c3c7cd;display:inline-block;float:right;vertical-align: middle}
.banner_bj .banner .edition p{font-size:12px;color:#ccc}
.content{border:none}
.content .section{padding:82px 0;}
.content .section .pic{float:left;margin:0 30px;}
.content .section .writ{float:left;width:390px;margin:0 30px;}
.content .section .writ h2{line-height:49px;font-size:40px;}
.content .section .writ p{line-height:25px;font-size:14px;color:#666}
.content .section:nth-child(2n){background:#f8f8f8}
.content .down .title{padding:50px 0 42px 0;border:none;background:#f5f5f5}
.content .down .title h2{font-size:25px;text-align:center;margin-bottom:10px;}
.content .down .title p{font-size:12px;color:#999;text-align:center;}
.content .down ul li{float:left;margin:0 35px;width:125px;text-align:center;height:150px;position:relative}
.content .down ul li a{font-size:12px;padding-left:22px;color:#fff;display:block;line-height:30px;position:absolute;bottom:0;left:0;
                            border-radius: 15px;background:url("../images/download_down.png") no-repeat;width:103px}
.content .down ul li:nth-child(1) a{background-position:0 -466px;}
.content .down ul li:nth-child(2) a{background-position:0 -528px;}
.content .down ul li:nth-child(3) a{background-position:0 -528px;}
.content .down ul li:nth-child(4) a{background-position:0 -590px;}
.content .down ul li:nth-child(5) a{background-position:0 -404px;}
.footer_bj{height:58px;border-top:1px solid #cccccc;padding-top:33px;background:#f5f5f5}
.footer .aside{padding-left:53px;position:relative;margin-right:65px;float:left}
.footer .aside .pic_1{height:40px;width:50px;background:url("../images/footer_bj.png") no-repeat -395px -85px ;position:absolute;top:0;left:0;}
.footer .aside .pic_2{height:40px;width:50px;background:url("../images/footer_bj.png") no-repeat -395px -128px ;position:absolute;top:0;left:0;}
.footer .aside p:nth-child(2){font-size:12px;color:#666}
.footer .aside p:nth-child(3){line-height:33px;color:#999;font-size:12px}
.footer .about{float:right;font-size:12px;line-height:17px;color:#ccc}
.footer .about a{color:#666;}
.footer .about i{display:inline-block;height:20px;width:20px;background:url("../images/icon.png") no-repeat -2px -36px;margin-bottom:-5px}
#top{display:block;width:45px;height:40px;line-height:20px;font-size:12px;text-align:center;border:1px solid #ccc;border-radius:3px;
    color:#656565;position:fixed;top:700px;left:50%;margin-left:500px}

